<footer class="footer">
  <small>
    by <em><a href="https://twitter.com/recodenow">Nicole Vagt</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
    </ul>  
  </nav>
</footer>